/*------------------------------------------------------------
	Blog Designs
-------------------------------------------------------------*/

/*----------- Blog Grid ---------*/
.blog-wrap-grid {
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  margin-top: 25px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.blog-thumb {
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.blog-thumb img {
  border-radius: 4px;
}
.blog-info {
  padding: 10px 20px;
}
.blog-info i {
  margin-right: 7px;
}
.blog-body {
  padding: 5px 20px 30px;
}
.bl-title {
  font-size: 19px;
  margin-bottom: 4px;
}
.bl-continue {
  color: #fc5231;
  position: relative;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 12px;
  display: inline-block;
}
a.bl-continue:before {
  content: "\F138";
  position: absolute;
  font-family: bootstrap-icons;
  right: -27px;
  top: 2px;
}

/*--------- Blog Detail Page -----------*/
.single-post-item {
  display: block;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  border: 2px solid #e5e8f3;
}
.post-featured-img {
  display: block;
  margin-bottom: 1.5rem;
}
.post-featured-img img {
  border-radius: 6px;
}
.single-post-item .post-details .meta-comment-tag {
  padding: 0;
  list-style: none;
}
.single-post-item .post-details .meta-comment-tag li {
  display: inline-block;
  margin-right: 19px;
}
.single-post-item .post-details .meta-comment-tag li a {
  color: #6e7c90;
  display: block;
  letter-spacing: 0;
  line-height: 18px;
}
.single-post-item .post-details .meta-comment-tag li a .icons {
  margin-right: 10px;
}
.single-post-item .post-details .post-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  margin: 15px 0 0;
}
.single-post-item .post-details p,
.single-post-item .post-details .text {
  color: #6e7c90;
  font-size: 16px;
  margin: 25px 0 0;
}
.blog-page .blog-details blockquote {
  background: #f7f9fc;
  padding: 28px 28px 28px 100px;
  margin: 50px 0;
  position: relative;
}
.blog-page .blog-details blockquote .icon {
  color: #fd5332;
  position: absolute;
  font-size: 28px;
  line-height: 28px;
  left: 35px;
  top: 42%;
}
.blog-page .blog-details blockquote .name {
  color: #000c35;
  margin: 12px 0 0;
}
.post-bottom-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 43px 0 0;
}
.post-tags {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.post-tags .pbm-title {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 20px;
}
.post-tags .list {
  padding: 0;
  list-style: none;
}
.post-tags .list li {
  display: inline-block;
  margin-bottom: 10px;
}
.post-tags .list li a {
  border: 1px solid #e4e4e6;
  letter-spacing: 0;
  display: block;
  padding: 9px 20px;
}
.post-tags .list li a:hover {
  color: #ffffff;
  background: #fd5332;
  border-color: #fd5332;
}
.post-share .list {
  padding: 0;
  list-style: none;
}
.post-share .list li {
  display: inline-block;
  margin-right: 22px;
}
.post-share .list li:last-child {
  margin-right: 0;
}
.post-share {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: right;
}
.post-share .pbm-title {
  font-size: 18px;
}
.post-share .list li a {
  color: #8c96b5;
  display: block;
  font-size: 16px;
  line-height: 22px;
}
.post-share .list li a:hover {
  color: #ef4060;
}
.single-post-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid #e4e4e6;
  padding: 48px 0 0;
  margin: 40px 0 0;
}
.single-post-pagination .prev-post {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.single-post-pagination .next-post {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: right;
}
.single-post-pagination .next-post .title,
.single-post-pagination .prev-post .title {
  font-size: 20px;
}
.single-post-pagination .post-pagination-center-grid {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.single-post-pagination .post-pagination-center-grid a {
  font-size: 2.5rem;
  color: #fd5332;
}
.single-post-pagination .prev-post a {
  display: block;
  overflow: hidden;
}
.single-post-pagination .prev-post a .title-with-link .intro {
  color: #6e7c90;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  margin: 0 0 9px;
}
.single-post-pagination .prev-post a .title-with-link .title {
  color: #000c35;
  line-height: 28px;
}

/*-------- Comment ---------*/
.blog-page .blog-details .comment-area .all-comments .comments-title {
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 35px;
}
.blog-page .blog-details .comment-area .all-comments .comment-list ul {
  padding: 0;
  list-style: none;
}
.blog-page .blog-details .comment-area .all-comments article {
  overflow: hidden;
  margin: 0 0 50px;
}
.blog-page .blog-details .comment-area .all-comments article .comment-author {
  float: left;
  width: 100px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-author
  img {
  max-width: 100px;
  border-radius: 50%;
}
.blog-page .blog-details .comment-area .all-comments article .comment-details {
  overflow: hidden;
  padding-left: 30px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-left-meta {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 70%;
  flex: 1 1 70%;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-left-meta
  .author-name {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 2px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-left-meta
  .author-name
  .selected {
  font-size: 12px;
  color: #cacfef;
  margin-left: 4px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-left-meta
  .comment-date {
  color: #ef4060;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 7px 0 0;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-reply {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  text-align: right;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-reply
  .reply {
  color: #6e7c90;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-meta
  .comment-reply
  .reply
  .icon {
  margin-right: 8px;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-text {
  margin: 19px 0 0;
}
.blog-page
  .blog-details
  .comment-area
  .all-comments
  article
  .comment-details
  .comment-text
  p {
  margin: 0;
}
.blog-page .blog-details .comment-area .all-comments .comment-list ul li ul {
  padding-left: 40px;
  list-style: none;
}
.posts-author {
  text-align: center;
}
.posts-author span.img {
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  height: 120px;
  border: 4px solid #e4eaf3;
  display: table;
  margin: 0 auto 1rem auto;
}
span.img img {
  border-radius: 50%;
  max-width: 120px;
}
h3.pa-name {
  font-size: 18px;
  margin-bottom: 5px;
}
.social-links {
  padding: 0;
  margin: 0 0 1rem 0;
}
.social-links {
  padding: 0;
  margin: 0 0 1rem 0;
}
.social-links li {
  display: inline-block;
  padding: 2px 10px;
}
.social-links li a {
  color: #8c96b5;
  font-size: 16px;
}
.social-links li a:hover,
.social-links li a:focus {
  color: #fd5332;
}
/*-------------- Sidebar -----------*/

.single-widgets {
  border: 2px solid #e5e8f3;
  padding: 30px 28px 35px;
  background: #ffffff;
  margin: 0 0 40px;
  border-radius: 6px;
}
.single-widgets.widget_search form {
  position: relative;
}
.single-widgets.widget_search form input[type="search"] {
  border-radius: 4px;
  border: 1px solid #ebedf5;
  background: #f9fafc;
  font-size: 12px;
  padding: 10px 70px 10px 30px;
  height: 60px;
  width: 100%;
}
.single-widgets.widget_search form button {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 0px;
  cursor: pointer;
  border-radius: 4px;
  background: #fd5332;
  color: #ffffff;
  border: 0;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 52px;
}
.single-widgets.widget_category ul {
  padding: 0;
  list-style: none;
}
.single-widgets.widget_category ul li {
  display: block;
  border-bottom: 1px solid #eaeaea;
  padding: 11px 0;
}
.single-widgets.widget_category ul li:first-child {
  border-top: none;
}
.single-widgets.widget_categories ul li a {
  display: block;
  overflow: hidden;
  letter-spacing: 0;

  font-size: 14px;
  line-height: 24px;
}
.single-widgets.widget_category ul li a span {
  float: right;
}
.single-widgets.widget_thumb_post ul {
  padding: 0;
  list-style: none;
}
.single-widgets.widget_thumb_post ul li {
  display: block;
  overflow: hidden;
  margin: 0 0 15px;
}
.single-widgets.widget_thumb_post ul li .left {
  display: block;
  float: left;
  width: 80px;
}
.single-widgets.widget_thumb_post ul li .right {
  display: block;
  overflow: hidden;
}
.single-widgets.widget_thumb_post ul li .right .feed-title {
  display: block;
  overflow: hidden;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 7px;
  padding-left: 20px;
}
.single-widgets.widget_thumb_post ul li .right .post-date {
  color: #6e7c90;
  display: block;
  overflow: hidden;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 18px;
  padding-left: 20px;
}
.single-widgets.widget_thumb_post ul li .right .post-date i {
  margin-right: 5px;
}
.single-widgets.widget_thumb_post ul li .left img {
  width: 100%;
  border-radius: 3px;
}
.single-widgets.widget_tags ul {
  padding: 0;
  list-style: none;
}
.single-widgets.widget_tags ul li {
  display: inline-block;
  margin-bottom: 5px;
}
.single-widgets.widget_tags ul li a {
  border: 1px solid #eaeaea;
  letter-spacing: 0;
  font-size: 14px;
  display: block;
  padding: 9px 25px;
}
.single-widgets.widget_tags ul li a:hover,
.single-widgets.widget_tags ul li a:focus {
  color: #ffffff;
  background: #fd5332;
  border-color: #fd5332;
}
