<div class="d-flex justify-content-center my-5">
  <div class="col-lg-4 col-md-4">
    <h2>Has oblidat la contrasenya?</h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Restablir contrasenya", class: "btn btn-md full-width btn-theme-light-2 rounded" %>
      </div>
    <% end %>
  </div>
</div>
