<h1>Editing webrealestate</h1>

<%= render "form", webrealestate: @webrealestate %>

<br>

<div>
  <%= link_to "Show this webrealestate", @webrealestate %> |
  <%= link_to "Back to webrealestates", webrealestates_path %>
</div>
