<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Nou immoble</h2>
        <span class="ipn-subtitle">Publica el teu immoble gratis</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency List Start ================================== -->
<section>
  <div class="container">
    <!-- row Start -->
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-12">
        <%= render "form", webrealestate: @webrealestate %>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- ============================ Agency List End ================================== -->
