<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="call-to-act">
          <div class="call-to-act-head">
            <h3>Tens un immoble i vols que t'ajudem a vendre'l?</h3>
            <span>Publica el teu anunci gratis.</span>
          </div>
          <%= link_to new_realestate_path, class: "btn btn-call-to-act" do %>
            <i class="fas fa-house-circle-check"></i>
            <span class="ms-1">Afegir immoble</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Call To Action End ================================== -->
