			<!-- Contact us Modal -->
<div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
    <div class="modal-content" id="sign-up">
      <span class="mod-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></span>
      <div class="modal-body">
        <div class="text-center">
          <h2 class="mb-0">CONTACT</h2>
          <h4 class="mb-0">5689 Resot Relly, Canada</h4>
          <a class="_calss_tyui theme-cl" href="tel:4048651904">(404) 865-1904</a>
        </div>
        <div class="login-form">
          <form>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Message</label>
                  <textarea class="form-control ht-120">I'm interested in 5689 Resot Relly, Canada. Please send me current availability and additional details.</textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Name*</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Email*</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="default-terms_wrap">
              <div class="default-terms_flex">
                <input id="tm" class="checkbox-custom" name="tm" type="checkbox">
                <label for="tm" class="checkbox-custom-label"></label>
              </div>
              <div class="default-terms">By submitting this form, you agree to our <a href="#" title="Terms of Service">Terms of Service</a> and <a href="#" title="Privacy Policy">Privacy Policy</a>.</div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-md full-width pop-login">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
