      <!-- ============================ Footer Start ================================== -->
<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <%= image_tag("https://res.cloudinary.com/dlzusxobf/image/upload/v1674377649/logo_light_hvbgn4.png", class: "img-footer", alt: "Sistach Finques") %>
            <div class="footer-add">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <h4 class="widget-title">Oficina Estartit</h4>
            <ul class="footer-menu">
              <li> Carrer de l'Església 34, local</li>
              <li>17257 L'Estartit (Girona)</li>
              <li><a href="tel:972100381">972 100 381</a></li>
              <li><a href="mailto:info@sistachfinques.com">info@sistachfinques.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <h4 class="widget-title">Oficina Berga</h4>
            <ul class="footer-menu">
              <li>C/Roser 1, 1-2</li>
              <li>08600 Berga (Barcelona)</li>
              <li><a href="tel:931147100">931 147 100</a></li>
              <li><a href="mailto:info@sistachfinques.com">info@sistachfinques.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer-widget">
            <h4 class="widget-title">Oficina Barcelona</h4>
            <ul class="footer-menu">
              <li>C/Rosselló 439, local</li>
              <li>08025 Barcelona (Barcelona)</li>
              <li><a href="tel:931147100">931 147 100</a></li>
              <li><a href="mailto:info@sistachfinques.com">info@sistachfinques.com</a></li>
            </ul>
          </div>
        </div>
        <!--
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">Download Apps</h4>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <i class="lni-playstore theme-cl"></i>
                </div>
                <div class="os-app-caps">
                  Google Play
                  <span>Get It Now</span>
                </div>
              </div>
            </a>
            <a href="#" class="other-store-link">
              <div class="other-store-app">
                <div class="os-app-icon">
                  <i class="lni-apple theme-cl"></i>
                </div>
                <div class="os-app-caps">
                  App Store
                  <span>Now it Available</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <p class="mb-0">
            ©  <%= Date.current.year %> Sistach Finques | <a href="/avis-legal">Avís legal | Política de privacitat</a>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <ul class="footer-bottom-social">
            <li>
              <a href="#"><i class="ti-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ============================ Footer End ================================== -->
