			<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Qui som</h2>
        <span class="ipn-subtitle">Agència immobiliària</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Our Story Start ================================== -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="agency agency-list overlio-40">
          <div class="agency-avatar">
            <img src="https://res.cloudinary.com/dlzusxobf/image/upload/v1673870864/6_opiao7.png" alt="">
          </div>
          <div class="agency-content">
            <div class="agency-name">
              <h4><a href="agency-page.html">Sistach Finques</a></h4>
              <span><i class="fas fa-location-dot"></i>Estartit</span>
              <span><i class="fas fa-location-dot"></i>Barcelona</span>
              <span><i class="fas fa-location-dot"></i>Berga</span>
            </div>
            <div class="agency-desc">
              <p>Agent de la Propietat Immobiliària API 1009 / AICAT 6541.
                <p>
                  Finques Sistach és una empresa especialitzada en la gestió immobiliària amb l'activitat principal a la Costa Brava, Barcelona i Berga, reconeguda per la professionalitat, serietat i solvència.</p>
                <p> Ens comprometem a oferir als nostres clients un servei adaptat a les seves necessitats.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ============================ Our Story End ================================== -->
  <!-- ================= Our Mission ================= -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="sec-heading center">
          <h2>Serveis pels propietaris</h2>
          <p>Un equip professional i dedicat</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="icon-mi-left">
          <i class="ti-lock theme-cl"></i>
          <div class="icon-mi-left-content">
            <h4>El nostre equip està format per consultors immobiliaris experimentats i dedicats.</h4>
            <p>Els nostres especialistes estan formats per ajudar-lo en la recerca d'un nou apartament o casa mitjançant tecnologies innovadores. Oferim als nostres clients una àmplia gamma de serveis que inclouen:
              Identificació de propietats en venda i lloguer;
              Fer una avaluació precisa del valor d'una propietat determinada;
              Fer suggeriments sobre com millorar-lo;
              Prestar assistència jurídica en la compra o venda de béns immobles;</p>
          </div>
        </div>
        <div class="icon-mi-left">
          <i class="ti-twitter theme-cl"></i>
          <div class="icon-mi-left-content">
            <h4>Entenem el mercat.</h4>
            <p>Els nostres experimentats agents immobiliaris coneixen el mercat i poden trobar el comprador adequat per a la seva propietat. Coneixem la comunitat i coneixem el mercat immobiliari local. Això ens ajuda a determinar el valor de la vostra propietat i us permetrà prendre una decisió informada sobre la venda.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="https://res.cloudinary.com/dlzusxobf/image/upload/v1673873897/10_qs1dcl.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <img src="https://res.cloudinary.com/dlzusxobf/image/upload/v1673870864/1_t4b5ql.png" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="icon-mi-left">
          <i class="ti-layers theme-cl"></i>
          <div class="icon-mi-left-content">
            <h4>La nostra xarxa està a la vostra disposició.</h4>
            <p>Tenim una àmplia i activa xarxa d'agències immobiliàries i corredors amb els quals treballem. Això significa que podem arribar a un gran nombre de possibles compradors o llogaters de la vostra propietat. </p>
            <p>
              Les habilitats tècniques del nostre equip garantiran que tots els aspectes administratius de la venda o lloguer del seu immoble es facin correctament, com ara la redacció de contractes, fotografies i descripcions en llocs web, comunicació amb agents, etc.</p>
          </div>
        </div>
        <div class="icon-mi-left">
          <i class="ti-lock theme-cl"></i>
          <div class="icon-mi-left-content">
            <h4>La vostra propietat es presentarà amb la millor llum als compradors.</h4>
            <p>Publicarem el teu immoble a la nostra web, així com a les millors plataformes d'anuncis immobiliaris. Utilitzarem totes les eines a la nostra disposició perquè la teva propietat vegi el màxim possible de compradors potencials.
              En cas que preferiu fer una oferta privada només a uns quants inversors seleccionats, podem utilitzar mètodes més tradicionals utilitzats per les agències immobiliàries (com ara el correu directe) i garantir la confidencialitat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ================= Our Mission ================= -->
