<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Avís legal | Política de privacitat</h2>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<div class="container">
  <div class="row">
    <div>
      <h6></h6>
      <p>
        La titularitat de l’actual lloc web correspon a INVERSTACH, S.L. <br>
        Nom de domini: https://sistachfinques.com/<br>
        Nom comercial: Sistach Finques<br>
        CIF: B66577537<br>
        API: 1009<br>
        AICAT: 6541<br>
        Domicili social: c / Roser 1, 1º2ª 08600 Berga<br>
        Telèfon: +34 972 100 381<br>
        e-mail: info@sistachfinques.com<br>
        Inscrita en el Registre (Mercantil / Públic): Registre Mercantil de Barcelona, ​​Full B-472.210, Tom 44948, Foli 1472.
      </p>
      <p>
        La visita a aquest lloc web no suposa que l'usuari estigui obligat a facilitar cap informació sobre
        si mateix. En cas que l'usuari proporcioni alguna informació de caràcter personal, les dades
        recollides en aquest lloc web seran utilitzades amb la finalitat, en la forma i amb les limitacions
        i drets que recull el Reglament 2016/679 del parlament Europeu i del Consell del 27 d'abril de
        2016, de la Protecció de Dades de Caràcter Personal. Les dades facilitades pels usuaris seran
        incorporades als fitxers de caràcter personal dels quals és responsable INVERSTACH S.L, on
        seran conservats per INVERSTACH S.L. de forma confidencial.
      </p>
      <p>
        Els usuaris que facilitin dades de caràcter personal, consenten inequívocament a la
        incorporació de les seves dades als fitxers, que continguin dades de caràcter personal, dels que
        sigui responsable INVERSTACH S.L., així com al tractament informatitzat o no dels mateixos
        amb la finalitat que puguin ser utilitzats per INVERSTACH S.L. , amb una de les següents
        finalitats: comercial, de personalització, operativa o estadística, autoritzant expressament a
        INVERSTACH S.L. per a l'extracció, emmagatzematge de dades i estudis de mercat amb la
        finalitat d'adequar les seves ofertes al perfil particular. INVERSTACH S.L. podrà conservar les
        seves dades un cop finalitzada tota la relació amb l'usuari per a complir obligacions legals.
        INVERSTACH S.L. procedirà a la cancel∙lació de les dades recollides quan deixin de ser
        necessàries o pertinents per a la finalitat per a la qual hagin estat recaptades o registrades. En
        el cas que les dades recollides s'utilitzessin per a una finalitat diferent per a la qual han estat
        recaptades o recollides es requerirà el consentiment previ dels interessats. INVERSTACH S.L.
        ha adoptat les mesures tècniques i organitzatives necessàries per garantir la seguretat i
        integritat de les dades, així com per evitar la seva alteració, pèrdua, tractament o accés no
        autoritzat.
      </p>
      <p>
        Els usuaris que facilitin les seves dades de caràcter personal, presten el seu consentiment
        exprés perquè puguin ser comunicades per a la seva utilització a INVERSTACH S.L. per a la
        realització d'activitats pròpies del seu objecte social. Els usuaris que facilitin dades de caràcter
        personal queden informats que aquesta comunicació es produeix en el mateix moment en que
        proporcionen les dades a INVERSTACH S.L.
        Els usuaris les dades dels quals siguin objecte de tractament podran exercitar gratuïtament els
        drets d'oposició, accés i informació, rectificació, cancel∙lació de les seves dades i revocació de
        la seva autorització sense efectes retroactius en els termes especificats en el Reglament
        2016/679 del parlament Europeu i del Consell del 27 d'abril de 2016, de Protecció de Dades de
        Caràcter Personal, conforme al procediment legalment establert. Aquests drets podran ser
        exercitats dirigint comunicació per escrit a INVERSTACH S.L. En compliment del que disposa
        el Reglament 2016/679 del 27 d'abril de 2016 Protecció de Dades de Caràcter Personal, INVERSTACH S.L. l'informa que les dades de caràcter personal que ens proporciona en omplir el
        formulari que apareix en aquesta pàgina es recolliran en fitxers dels INVERSTACH S.L. n’és el
        responsable.
      </p>
      <p>
        No obstant, podrà exercir el seu dret d'accés, rectificació, cancel∙lació i oposició al tractament
        de les seves dades personals, dirigint‐se per escrit a la seu social de INVERSTACH S.L. El
        sol∙licitant de la informació garanteix que les dades personals que faciliti, són verídiques i
        exactes i corresponen al propi sol∙licitant, exonerant en tot cas al propietari de la web, de
        qualsevol tipus de responsabilitat que pogués derivar de l'ús fraudulent i / o inadequat del
        servei imputable al sol∙licitant. El propietari del web garanteix la confidencialitat de les dades
        de caràcter personal facilitades pels usuaris i el seu tractament automatitzat d'acord amb la
        legislació sobre protecció de dades de caràcter personal actual.
        Sobre la base del Reglament 2016/679 del Parlament Europeu i del Consell del 27 d'abril de
        2016, de protecció de dades, el propietari de la web li fa saber que les dades anteriors només
        seran utilitzades per posar‐se en contacte amb vostè i iniciar els tràmits per informar‐lo, fins i
        tot per mitjans electrònics, de com aconseguir informació del producte sol∙licitat, així com
        d'altres productes relacionats amb el sector immobiliari que, en tot cas, puguin ser del seu
        interès. Tota la informació sobre els immobles facilitada, ha de ser considerada per l'usuari
        com informació general, bàsica i preliminar, sense que l'hagi d'utilitzar com a element
        determinant per a la presa de decisions.
      </p>
      <p>
        Per això, aquesta informació podrà ser concretada, actualitzada o rectificada, si s’escau, per la
        Propietat. Tant les despeses associades a la venda, com la forma de pagament s'establiran
        atenent a les condicions finals de la venda. Els preus no inclouen els impostos, despeses ni
        garanties, legals o accessòries, que en cada cas i moment siguin d'aplicació. La informació
        continguda en aquesta web, inclosos immobles, productes i serveis, està destinada a la seva
        distribució o ús, bàsicament, per particulars, companyies, societats, persones físiques o
        jurídiques o qualsevol altra entitat amb residència a Espanya o que accedeixin a la web des
        Espanya, per la qual cosa el propietari de la pàgina web declina tota responsabilitat per l'accés
        dels Usuaris a jurisdiccions diferents a l'espanyola, fins i tot en aquelles jurisdiccions on
        aquesta distribució o aquest ús d'informació poguessin ser contraris a la normativa o regulació
        vigent en cada moment.
      </p>
      <h6>Protecció de dades</h6>
      <p>Sistach Finques obté de diversos formularis del lloc web dades personals i informació dels usuaris per tal d'emmagatzemar i / o utilitzar-les en relació amb aquest usuari . Les dades facilitades pels usuaris seran incorporades a un fitxer automatitzat titularitat de la societat corresponent. Sistach Finques es compromet a tractar les dades de caràcter personal dels usuaris de conformitat amb el que estableix la normativa aplicable i, en particular, a tractar confidencialment les dades de caràcter personal de l'usuari a les quals tingui accés com a conseqüència de la seva navegació en el lloc web. Respecte de les dades esmentades podrà exercir els drets d'accés, rectificació i cancel·lació en els termes establerts en la llei orgànica mitjançant una comunicació dirigida a:
        Sistach Finques
        B66577537
        API: 1009
        AICAT: 6541
        Carrer de l'Església 34
        17257 L'Estartit
        972 100 381</p>
      <h6>Política de cookies</h6>
      <p>
        Aquest lloc web utilitza cookies amb la finalitat de facilitar, millorar i
        personalitzar la navegació als usuaris. Les cookies són petits arxius de text que el servidor d'un
        lloc web emmagatzema al navegador de l'usuari (Explorer, Safari, Firefox, Chrome ..). Així,
        quan l'usuari torna a visitar el lloc web es llegeixen les cookies per identificar aquest usuari i
        establir les seves preferències de navegació. Aquest lloc web utilitza les cookies següents: ∙
        Cookies per facilitar la navegació dels usuaris i recordar per on es troba l'usuari quan navega
        pel lloc web. Aquestes cookies desapareixen al mes. Cookies de sessió: per seguir la sessió a les
        pàgines que requereixen registre. Aquestes cookies són necessàries per accedir als serveis o
        continguts restringits als usuaris que naveguen com a usuaris registrats. Si no ha seleccionat
        recordar la contrasenya aquestes cookies s'eliminen quan tanca el navegador o apaga l'equip∙
        Cookies de mesuradors i analítica web: aquestes cookies s'utilitzen per analitzar les visites
        realitzades i el temps de navegació pel lloc web. La informació recollida d'aquestes cookies és
        transmesa i arxivada directament en els servidors dels prestadors del servei. Com desactivar
        les cookies? Pots configurar el teu navegador perquè totes aquestes cookies s'esborrin
        automàticament una vegada es tanqui el navegador, equip o dispositiu.
      </div>
    </div>
  </div>
