			<!-- ============================ Page Title Start================================== -->
<div class="image-cover page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Agent Detail</h2>
        <span class="ipn-subtitle">Adam D. Okraar From Canada</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency Name Start================================== -->
<section class="agent-page p-0 gray-simple">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="agency agency-list overlio-40">
          <div class="agency-avatar">
            <img src="https://via.placeholder.com/500x400" alt="">
          </div>
          <div class="agency-content">
            <div class="agency-name">
              <h4><a href="agency-page.html">Strive Partners Realty</a></h4>
              <span><i class="lni-map-marker"></i>3599 Huntz Lane</span>
            </div>
            <div class="agency-desc">
              <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>
            </div>
            <div class="prt-detio">
              <span>202 Property</span>
            </div>
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="lni-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="lni-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="lni-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="lni-linkedin"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Agency Name ================================== -->
<!-- ============================ About Agency ================================== -->
<section class="gray">
  <div class="container">
    <div class="row">
      <!-- property main detail -->
      <div class="col-lg-8 col-md-12 col-sm-12">
        <!-- Single Block Wrap -->
        <div class="block-wrap">
          <div class="block-header ags">
            <h4 class="block-title">Agency Info</h4>
            <a href="add-agent.html" class="btn btn-agent-add">Add New Agent</a>
          </div>
          <div class="block-body">
            <ul class="dw-proprty-info">
              <li><strong>Ceo</strong>Mr. Adam Vilawo</li>
              <li><strong>Email</strong>Isvali@gmail.com</li>
              <li><strong>Phone</strong>+91 235 658 4758</li>
              <li><strong>Skype</strong>isva24lia</li>
              <li><strong>Address</strong>320, Near Iswar</li>
              <li><strong>City</strong>New York</li>
              <li><strong>Country</strong>United State</li>
              <li><strong>Stab.</strong>2007</li>
            </ul>
          </div>
        </div>
        <!-- Single Block Wrap -->
        <div class="block-wraps">
          <div class="block-wraps-header">
            <div class="block-header">
              <ul class="nav nav-tabs customize-tab" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="agent-tab" data-bs-toggle="tab" href="#agent" role="tab" aria-controls="agent" aria-selected="true">Agents</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="property-tab" data-bs-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="false">Property</a>
                </li>
              </ul>
            </div>
            <div class="block-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="agent" role="tabpanel" aria-labelledby="agent-tab">
                  <div class="row">
                    <!-- Single Agent -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="agents-grid">
                        <div class="agents-grid-wrap">
                          <div class="fr-grid-thumb">
                            <a href="freelancer-detail.html">
                              <img src="https://via.placeholder.com/400x400" class="img-fluid mx-auto" alt="" />
                            </a>
                          </div>
                          <div class="fr-grid-deatil">
                            <div class="fr-grid-deatil-flex">
                              <h5 class="fr-can-name"><a href="#">Colin H. Renda</a></h5>
                              <span class="agent-property">302 Properties</span>
                            </div>
                            <div class="fr-grid-deatil-flex-right">
                              <div class="agent-email"><a href="#"><i class="ti-email"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="fr-grid-info">
                          <ul>
                            <li><strong>Call:</strong>91 123 456 7859</li>
                            <li>
                              <div class="fr-can-rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="reviews_text">(42 Reviews)</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="fr-grid-footer">
                          <div class="fr-grid-footer-flex">
                            <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                          </div>
                          <div class="fr-grid-footer-flex-right">
                            <a href="agent-page.html" class="prt-view" tabindex="0">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Agent -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="agents-grid">
                        <div class="agents-grid-wrap">
                          <div class="fr-grid-thumb">
                            <a href="freelancer-detail.html">
                              <img src="https://via.placeholder.com/400x400" class="img-fluid mx-auto" alt="" />
                            </a>
                          </div>
                          <div class="fr-grid-deatil">
                            <div class="fr-grid-deatil-flex">
                              <h5 class="fr-can-name"><a href="#">Colin H. Renda</a></h5>
                              <span class="agent-property">302 Properties</span>
                            </div>
                            <div class="fr-grid-deatil-flex-right">
                              <div class="agent-email"><a href="#"><i class="ti-email"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="fr-grid-info">
                          <ul>
                            <li><strong>Call:</strong>91 123 456 7859</li>
                            <li>
                              <div class="fr-can-rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="reviews_text">(42 Reviews)</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="fr-grid-footer">
                          <div class="fr-grid-footer-flex">
                            <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                          </div>
                          <div class="fr-grid-footer-flex-right">
                            <a href="agent-page.html" class="prt-view" tabindex="0">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Agent -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="agents-grid">
                        <div class="agents-grid-wrap">
                          <div class="fr-grid-thumb">
                            <a href="freelancer-detail.html">
                              <img src="https://via.placeholder.com/400x400" class="img-fluid mx-auto" alt="" />
                            </a>
                          </div>
                          <div class="fr-grid-deatil">
                            <div class="fr-grid-deatil-flex">
                              <h5 class="fr-can-name"><a href="#">Colin H. Renda</a></h5>
                              <span class="agent-property">302 Properties</span>
                            </div>
                            <div class="fr-grid-deatil-flex-right">
                              <div class="agent-email"><a href="#"><i class="ti-email"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="fr-grid-info">
                          <ul>
                            <li><strong>Call:</strong>91 123 456 7859</li>
                            <li>
                              <div class="fr-can-rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="reviews_text">(42 Reviews)</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="fr-grid-footer">
                          <div class="fr-grid-footer-flex">
                            <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                          </div>
                          <div class="fr-grid-footer-flex-right">
                            <a href="agent-page.html" class="prt-view" tabindex="0">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Agent -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="agents-grid">
                        <div class="agents-grid-wrap">
                          <div class="fr-grid-thumb">
                            <a href="freelancer-detail.html">
                              <img src="https://via.placeholder.com/400x400" class="img-fluid mx-auto" alt="" />
                            </a>
                          </div>
                          <div class="fr-grid-deatil">
                            <div class="fr-grid-deatil-flex">
                              <h5 class="fr-can-name"><a href="#">Colin H. Renda</a></h5>
                              <span class="agent-property">302 Properties</span>
                            </div>
                            <div class="fr-grid-deatil-flex-right">
                              <div class="agent-email"><a href="#"><i class="ti-email"></i></a></div>
                            </div>
                          </div>
                        </div>
                        <div class="fr-grid-info">
                          <ul>
                            <li><strong>Call:</strong>91 123 456 7859</li>
                            <li>
                              <div class="fr-can-rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                                <span class="reviews_text">(42 Reviews)</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="fr-grid-footer">
                          <div class="fr-grid-footer-flex">
                            <span class="fr-position"><i class="lni-map-marker"></i>3599 Huntz Lane</span>
                          </div>
                          <div class="fr-grid-footer-flex-right">
                            <a href="agent-page.html" class="prt-view" tabindex="0">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Explore More Agents</a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="property" role="tabpanel" aria-labelledby="sale-tab">
                  <!-- row -->
                  <div class="row">
                    <!-- Single Property -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="property-listing property-2">
                        <div class="listing-img-wrapper">
                          <div class="list-img-slide">
                            <div class="clicks">
                              <div><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-wrapper">
                          <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                              <span class="property-type">For Rent</span>
                              <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Found Property Group</a></h4>
                            </div>
                            <div class="listing-short-detail-flex">
                              <h6 class="listing-card-info-price">$2,850</h6>
                            </div>
                          </div>
                        </div>
                        <div class="price-features-wrapper">
                          <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                              3 Beds
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                              1 Bath
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                              800 sqft
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-footer">
                          <div class="footer-first">
                            <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
                          </div>
                          <div class="footer-flex">
                            <a href="property-detail.html" class="prt-view">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Property -->
                    <!-- Single Property -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="property-listing property-2">
                        <div class="listing-img-wrapper">
                          <div class="list-img-slide">
                            <div class="clicks">
                              <div><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-wrapper">
                          <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                              <span class="property-type">For Rent</span>
                              <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Strive Partners Realty</a></h4>
                            </div>
                            <div class="listing-short-detail-flex">
                              <h6 class="listing-card-info-price">$8,100</h6>
                            </div>
                          </div>
                        </div>
                        <div class="price-features-wrapper">
                          <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                              3 Beds
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                              1 Bath
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                              800 sqft
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-footer">
                          <div class="footer-first">
                            <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
                          </div>
                          <div class="footer-flex">
                            <a href="property-detail.html" class="prt-view">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Property -->
                    <!-- Single Property -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="property-listing property-2">
                        <div class="listing-img-wrapper">
                          <div class="list-img-slide">
                            <div class="clicks">
                              <div><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-wrapper">
                          <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                              <span class="property-type">For Rent</span>
                              <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Beacon Homes LLC</a></h4>
                            </div>
                            <div class="listing-short-detail-flex">
                              <h6 class="listing-card-info-price">$9,200</h6>
                            </div>
                          </div>
                        </div>
                        <div class="price-features-wrapper">
                          <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                              3 Beds
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                              1 Bath
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                              800 sqft
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-footer">
                          <div class="footer-first">
                            <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
                          </div>
                          <div class="footer-flex">
                            <a href="property-detail.html" class="prt-view">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Property -->
                    <!-- Single Property -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="property-listing property-2">
                        <div class="listing-img-wrapper">
                          <div class="list-img-slide">
                            <div class="clicks">
                              <div><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></div>
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-wrapper">
                          <div class="listing-short-detail-wrap">
                            <div class="listing-short-detail">
                              <span class="property-type">For Rent</span>
                              <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Bluebell Real Estate</a></h4>
                            </div>
                            <div class="listing-short-detail-flex">
                              <h6 class="listing-card-info-price">$6,500</h6>
                            </div>
                          </div>
                        </div>
                        <div class="price-features-wrapper">
                          <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                              3 Beds
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                              1 Bath
                            </div>
                            <div class="listing-card-info-icon">
                              <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                              800 sqft
                            </div>
                          </div>
                        </div>
                        <div class="listing-detail-footer">
                          <div class="footer-first">
                            <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
                          </div>
                          <div class="footer-flex">
                            <a href="property-detail.html" class="prt-view">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Single Property -->
                  </div>
                  <!-- // row -->
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                      <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Explore More Property</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- property Sidebar -->
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="details-sidebar">
          <!-- Agent Detail -->
          <div class="sides-widget">
            <div class="sides-widget-header">
              <div class="agent-photo"><img src="https://via.placeholder.com/400x400" alt=""></div>
              <div class="sides-widget-details">
                <h4><a href="#">Adam D. Okraar</a></h4>
                <span><i class="lni-phone-handset"></i>(91) 123 456 7895</span>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="sides-widget-body simple-form">
              <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <label>Phone No.</label>
                <input type="text" class="form-control" placeholder="Your Phone">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control">I'm interested in this property.</textarea>
              </div>
              <button class="btn btn-black btn-md rounded full-width">Send Message</button>
            </div>
          </div>
          <!-- Featured Property -->
          <div class="sidebar-widgets">
            <h4>Featured Property</h4>
            <div class="sidebar_featured_property">
              <!-- List Sibar Property -->
              <div class="sides_list_property">
                <div class="sides_list_property_thumb">
                  <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
                </div>
                <div class="sides_list_property_detail">
                  <h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
                  <span><i class="ti-location-pin"></i>Sans Fransico</span>
                  <div class="lists_property_price">
                    <div class="lists_property_types">
                      <div class="property_types_vlix sale">For Sale</div>
                    </div>
                    <div class="lists_property_price_value">
                      <h4>$4,240</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- List Sibar Property -->
              <div class="sides_list_property">
                <div class="sides_list_property_thumb">
                  <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
                </div>
                <div class="sides_list_property_detail">
                  <h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
                  <span><i class="ti-location-pin"></i>Liverpool, London</span>
                  <div class="lists_property_price">
                    <div class="lists_property_types">
                      <div class="property_types_vlix">For Rent</div>
                    </div>
                    <div class="lists_property_price_value">
                      <h4>$7,380</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- List Sibar Property -->
              <div class="sides_list_property">
                <div class="sides_list_property_thumb">
                  <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
                </div>
                <div class="sides_list_property_detail">
                  <h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
                  <span><i class="ti-location-pin"></i>Montreal, Canada</span>
                  <div class="lists_property_price">
                    <div class="lists_property_types">
                      <div class="property_types_vlix buy">For Buy</div>
                    </div>
                    <div class="lists_property_price_value">
                      <h4>$8,730</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- List Sibar Property -->
              <div class="sides_list_property">
                <div class="sides_list_property_thumb">
                  <img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
                </div>
                <div class="sides_list_property_detail">
                  <h4><a href="single-property-1.html">Montreal Quebec City</a></h4>
                  <span><i class="ti-location-pin"></i>Sreek View, New York</span>
                  <div class="lists_property_price">
                    <div class="lists_property_types">
                      <div class="property_types_vlix">For Rent</div>
                    </div>
                    <div class="lists_property_price_value">
                      <h4>$6,240</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ About Agency End ================================== -->
