<!-- ============================ Hero Banner  Start================================== -->
<a href="https://www.sistachrentals.com" class="btn btn-call-to-act" target="_blank">
  Visita la nostra pàgina de lloguers turístic <br>
  sistachrentals.com
</a>
<div class="image-cover hero-banner2 pt-5" style="background:url(https://res.cloudinary.com/dlzusxobf/image/upload/v1673265040/costa_brava_txahdm.jpg) no-repeat;">
  <div class="container mt-5">
    <div class="call-to-act">
      <div class="call-to-act-head">
        <h3>Estàs buscant un apartament o casa de vacances?</h3>
        <span>T'ajudarem a trobar el lloc ideal.</span>
      </div>
      <a href="https://www.sistachrentals.com" class="btn btn-call-to-act" target="_blank">
        Visita la nostra pàgina de lloguers turístic <br>
        sistachrentals.com
      </a>
    </div>
  </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
