<div class="d-flex justify-content-center align-items-center">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="container-fluid">
      <h3>Modificar immoble</h3>
      <%= render "form", realestate: @realestate %>
      <br>
      <div>
        <%= link_to "Mostrar l'immoble", @realestate %> |
        <%= link_to "Veure tots els immobles", realestates_path %>
      </div>
    </div>
  </div>
</div>
