<!-- ============================ Page Title Start================================== -->
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="ipt-title">Nou article</h2>
        <span class="ipn-subtitle">Les notícies del sector immobiliari</span>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Agency List Start ================================== -->
<section>
  <div class="container">
    <!-- row Start -->
    <div class="row">
      <div >
        <%= render "form", post: @post %>
      </div>
    </div>
    <!-- /row -->
  </div>
</section>
<!-- ============================ Agency List End ================================== -->
