/*------------------------------------------------------------
	Contact Info
-------------------------------------------------------------*/
.contact-info {
  margin-left: 1rem;
}
.cn-info-detail {
  position: relative;
  margin-bottom: 1.5rem;
  justify-content: start;
  display: flex;
  align-items: center;
}
.cn-info-icon {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.cn-info-icon i {
  font-size: 35px;
  color: #fd5332;
}
.cn-info-title {
  font-size: 15px;
  margin-bottom: 2px;
}
