<div id="<%= dom_id feature %>">
  <p>
    <strong>Name:</strong>
    <%= feature.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= feature.value %>
  </p>

  <p>
    <strong>Realestate:</strong>
    <%= feature.realestate_id %>
  </p>

</div>
